.gradle/4.0/taskHistory/taskHistory.bin
.gradle/4.0/fileChanges/last-build.bin
.gradle/4.0/fileHashes/fileHashes.bin
.gradle/4.0/fileHashes/fileHashes.lock
.gradle/4.0/taskHistory/fileSnapshots.bin
.gradle/4.0/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/modules/PastPaperHub.iml
.idea/modules/PastPaperHub_main.iml
.idea/modules/PastPaperHub_test.iml
gradlew
firebase-debug.log
gradlew.bat
settings.gradle
.idea/modules/PastPaperHub.iml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/modules/PastPaperHub_main.iml
.idea/modules/PastPaperHub_test.iml
gradle/wrapper/gradle-wrapper.jar
*.idea
gradle/wrapper/gradle-wrapper.properties
*.log
firebase-debug.log
*.gradle
