body {
  

}
#container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
  justify-content: center;
  padding:10px;
  width: 600px;
  grid-auto-rows: minmax(180px auto);
  
  


  
}
 

.div-1{
  background-color: #eee;
  padding: 10px;
  grid-column: span 2;
}
.div-2{
  background-color: #ddd;
  padding: 10px;
}
.div-3{
  border: 1px solid black;
  padding: 10px;

  
  
}
.div-4{
  border: 2px solid gray;
  padding: 10px;
}
.nested{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
  grid-gap: 1em;
  background-color: #ccc;
  
  align-content: center;
  justify-self: center;
  
}
.nested > div {
  border: 1px solid #555;
  padding: 1em;
  
}
