  {{!-- <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Find questions and popular answers to past papers!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PastPaper Hub</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="/manifest.json">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PastPaper Hub">
  <meta name="theme-color" content="#303F9F">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="PastPaper Hub">
  <meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

  <!-- Tile icon for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">
  <meta name="msapplication-navbutton-color" content="#303F9F">

  <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <!-- App Styling -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/main_mdl.css"> --}}

<html>
    <head>
        <head>
        <!--- more info to be added here e.g favicon -->
        <title>PastPaperHub</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="styles/navigation.1.css">
        <link rel="stylesheet" type="text/css" href="styles/fonts.css">
        <script src="scripts/lib/jquery-3.3.1.min.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000" />
        <meta name="description" content="Get past papers for free">
        <link rel="icon" 
        type="image/png" 
        href="Assets/Images/LOGO.jpg">
    </head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <!-- Header -->
     <div class="navigation-home">
            <a href="/"><span id="logo">PastPaperHub</span></a>

                {{!-- <span>
                    <input type="text" name="search" placeholder="Search for Past Papers ">
                </span> --}}

                {{!-- <span id="top-img">
                    <img src="icons/search.png"/>
                </span> --}}

            </div>

            <span id="account">
                <div id="user-container">
                    <div class="user-contain">
                        <div id="user-pic" class="dropdown">
                            <div class="submenu" for="user-pic">
                                <li><a href="/profile">Profile</a></li>
                                <li><a id="sign-out">Sign Out</a></li>  
                            </div>
                            </div>
                            <span hidden id="user-name"></span>
                        </div>
                </div>
            </span>
        </div>

  {{!-- Main body --}}
  </div>
    <div id="news-point">
        <div id="news-point-content">
        <div id="input-title-main">Search for PastPapers</div>
        <span>
            <input id="input" type="text" name="search" placeholder="Search for Past Papers ">
        </span>
        

        <div id="input-title">Course</div>
        <select name = "dropdown" class="form-design" id="course" name="course">
            <option value="">Select Course of study</option>
            <option value="Medicine">Medicine</option>
            <option value="Computer Engineering">Computer Engineering</option>
            <option value="Electrical Engineering">Electrical Engineering</option>
            <option value="Marketing">Marketing</option>
            <option value="Law">Law</option>
        </select>

        <div id="input-title">Level</div>
        <select name = "dropdown" class="form-design" id="course" name="course">
            <option value="">Select Year of study</option>
            <option value="1">University Year One</option>
            <option value="2">University Year Two</option>
            <option value="3">University Year Three</option>
            <option value="4">University Year Four</option>
            <option value="5">University Year Five</option>
        </select>
        </div>
    </div>
    <div id="search-point">

    </div>
    <div id="exam-cards">
      <h4>Access over 23,000 past papers</h4>
      <div id="shop-cards">
          <div id="shop-cards-images">
                <img src="images/background_photo.jpg">
          </div>
          <div id="stds">3,836 students</div>
          <div id="price">1h 45min</div>
          <div id="Title">
              Atomic Physics
          </div>
          <div id="description">
              Official IGCSE examination
          </div>
          <div id="discount-box-holder">
          <div id="discount-box">
              Start
          </div>
          </div>

          <div id="level">Level: University 2nd year</div>

          <div id="bookmark">                        
            <img src="icons/off-bookmark.png">
          </div>
      </div>

      <div id="shop-cards">
          <div id="shop-cards-images">
                <img src="images/background_photo.jpg">
          </div>
          <div id="stds">7,382 students</div>
          <div id="price">1h 30mins</div>
          <div id="Title">
              Nuclear Physics
          </div>
          <div id="description">
              Paper 2 examination
          </div>
          <div id="discount-box-holder">
          <div id="discount-box">
              Start
          </div>
          </div>

          <div id="level">Level: University 2nd year</div>

          <div id="bookmark">                        
            <img src="icons/off-bookmark.png">
          </div>
      </div>

      <div id="shop-cards">
          <div id="shop-cards-images">
                <img src="images/background_photo.jpg">
          </div>
          <div id="stds">743,826 students</div>
          <div id="price">2h</div>
          <div id="Title">
              Marketing
          </div>
          <div id="description">
              Second Year University past paper based on British curriculum
          </div>
          <div id="discount-box-holder">
          <div id="discount-box">
              Start
          </div>
          </div>

          <div id="level">Level: University 2nd year</div>

          <div id="bookmark">                        
            <img src="icons/off-bookmark.png">
          </div>
      </div>
      

      <div id="shop-cards">
          <div id="shop-cards-images">
                <img src="images/background_photo.jpg">
          </div>
          <div id="stds">38,726 students</div>
          <div id="price">2h 30mins</div>
          <div id="Title">
              Electrical Engineering
          </div>
          <div id="description">
              In-depth examination on Electrical Engineering
          </div>
          <div id="discount-box-holder">
          <div id="discount-box">
              Start
          </div>
          </div>

          <div id="level">Level: University 2nd year</div>

          <div id="bookmark">                        
            <img src="icons/off-bookmark.png">
          </div>
      </div>
    </div>

</div>

 <div id="exam-cards">
      <h4>2nd Year Medicine Examinations</h4>
      <div id="shop-cards">
          <div id="shop-cards-images">
                <img src="images/background_photo.jpg">
          </div>
          <div id="stds">3,836 students</div>
          <div id="price">1h 45min</div>
          <div id="Title">
              Atomic Physics
          </div>
          <div id="description">
              Official IGCSE examination
          </div>
          <div id="discount-box-holder">
          <div id="discount-box">
              Start
          </div>
          </div>

          <div id="level">Level: University 2nd year</div>

          <div id="bookmark">                        
            <img src="icons/off-bookmark.png">
          </div>
      </div>

      <div id="shop-cards">
          <div id="shop-cards-images">
                <img src="images/background_photo.jpg">
          </div>
          <div id="stds">7,382 students</div>
          <div id="price">1h 30mins</div>
          <div id="Title">
              Nuclear Physics
          </div>
          <div id="description">
              Paper 2 examination
          </div>
          <div id="discount-box-holder">
          <div id="discount-box">
              Start
          </div>
          </div>

          <div id="level">Level: University 2nd year</div>

          <div id="bookmark">                        
            <img src="icons/off-bookmark.png">
          </div>
      </div>

      <div id="shop-cards">
          <div id="shop-cards-images">
                <img src="images/background_photo.jpg">
          </div>
          <div id="stds">743,826 students</div>
          <div id="price">2h</div>
          <div id="Title">
              Marketing
          </div>
          <div id="description">
              Second Year University past paper based on British curriculum
          </div>
          <div id="discount-box-holder">
          <div id="discount-box">
              Start
          </div>
          </div>

          <div id="level">Level: University 2nd year</div>

          <div id="bookmark">                        
            <img src="icons/off-bookmark.png">
          </div>
      </div>
      

      <div id="shop-cards">
          <div id="shop-cards-images">
                <img src="images/background_photo.jpg">
          </div>
          <div id="stds">38,726 students</div>
          <div id="price">2h 30mins</div>
          <div id="Title">
              Electrical Engineering
          </div>
          <div id="description">
              In-depth examination on Electrical Engineering
          </div>
          <div id="discount-box-holder">
          <div id="discount-box">
              Start
          </div>
          </div>

          <div id="level">Level: University 2nd year</div>

          <div id="bookmark">                        
            <img src="icons/off-bookmark.png">
          </div>
      </div>
    </div>

</div>

<script src="/__/firebase/5.1.0/firebase-app.js"></script>
<script src="/__/firebase/5.1.0/firebase-auth.js"></script>
<script src="/__/firebase/5.1.0/firebase-database.js"></script>
<script src="/__/firebase/5.1.0/firebase-storage.js"></script>
<script src="/__/firebase/5.1.0/firebase-messaging.js"></script>
<script src="/__/firebase/init.js"></script>

<script src="scripts/home.js" type="text/javascript"></script>

</body>
</html>
