<html>
    <head>
        <!--- more info to be added here e.g favicon -->
        <title>PastPaperHub</title>
        <link rel="stylesheet" type="text/css" href="styles/header.css">
        <link rel="stylesheet" type="text/css" href="styles/navigation.css">
        <link rel="stylesheet" type="text/css" href="styles/fonts.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000" />
        <meta name="description" content="Get past papers for free">
        <script src="Assets/Javascripts/lib/jquery-3.3.1.min.js"></script>
        <link rel="icon" 
        type="image/png" 
        href="Assets/Images/LOGO.jpg">
        <script src="Assets/Javascripts/particles.min.js"></script>
    </head>
    <body>
        <div class="navigation">
            <a href="/"><span id="logo">PastPaperHub</span></a>

                <span>
                    <input type="text" name="search" placeholder="Search for Past Papers ">
                </span>

                <span id="top-img">
                    <img src="icons/search.png"/>
                </span>

            </div> 
            <span id="account">
                <div id="user-container">
                    <div id="user-contain">
                    <div hidden id="user-pic"></div>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="user-pic">
                        <a href="/profile"><a class="mdl-menu__item"></a></a>
                        <a id="sign-out" class="mdl-menu__item"></a>
                    </ul>
                    <span hidden id="user-name"></span>
                    </div>
                </div>
            </span>
        </div>
        
        <button class="accordion">Section 1</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 2</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Section 3</button>
        <div class="panel">
        <p>Lorem ipsum...</p>
        </div>