body{
    margin: 0;
    background: rgb(240, 240, 240);
    padding: 0;
}
#cover{
    padding: 10px 0;
    background: rgb(3, 23, 34);
    color: white;
}
#space{
    margin-top: 100px;
}
#text-cover{
    width: 75%;
    font-family: 'Quicksand Light', sans-serif;
    font-size: 20px;
    text-align: center;
    transition: all ease-in-out 400ms;
    margin: 0 auto;
}
#forms{
    padding: 15px;
    margin: 0 auto;
    background: transparent;
    width: 50%;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    transition: all ease-in-out 400ms;
    margin-top: 75px;
    text-align: center;
}
.form-design{
    height: 40px;
    font-family: 'Quicksand Light', sans-serif;
    font-size: 16px;
    width: 250px;
    margin: 0;
    text-align: left;
    background: rgb(230, 230, 230);
    border: 0;
}
.forms span div{
    text-align: left;
    margin-bottom: 5px;
}
.save-button{
    font-family: 'Quicksand Light', sans-serif;
    font-size: 20px;
    width: 250px;
    background: rgb(3, 23, 34);
    border: 0;
    cursor: pointer;
    padding: 10px;
    color: white;
}
#must-signin-snackbar{
    background: black;
    opacity: 0.8;
    bottom: 0;
    display: none;
    color: white;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
#bottom-nav{
    display: none;
}
#must-signin-snackbar{
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    bottom: 200;
    width: 250px;
    /* display: none; */
    border: solid 1px rgb(220, 220, 220);
    background: rgb(230, 230, 230)
}
@media only screen and (max-width: 500px) {
    #forms{
        width: 100%;
        font-size: 18px;
        padding: 0;
        margin-bottom: 20px;
        transition: all ease-in-out 400ms;
        margin-top: 75px;
    }
    #logo{
        font-size: 22px;
        transition: all ease-in-out 400ms;
    }
    #user-container #user-pic {
        top: -7.5px;
        width: 30px;
        height: 30px;
        right: -50;
        transition: all ease-in-out 400ms;
    }
    #user-container #user-name {
        font-size: 14px;
        line-height: 36px;
        position: relative;
        top: -10;
        padding-right: 10px;
        transition: all ease-in-out 400ms;
        padding-left: 20px;
    }
    #text-cover{
        font-size: 16px;
        transition: all ease-in-out 400ms;
    }
    .save-button{
        font-family: 'Cabin', sans-serif;
        font-size: 18px;
        width: 100%;
        background: rgb(21, 72, 99);
        border: 0;
        cursor: pointer;
        padding: 10px;
        color: white;
        bottom: 50;
        left: 0;
        position: fixed;
    }
    #bottom-nav{
        position: fixed;
        bottom: 0;
        z-index: 9;
        left: 0;
        padding: 10px 0;
        background: rgb(3, 23, 34);
        width: 100%;
        text-align: center;
        box-shadow: 0 0 8px  rgba(0, 0, 0, 0.2);
        display: inline-block;
    }
    #bottom-nav img{
        height: 25px;
        width: 25px;
        margin: 0 6.5%;
    }
}
@media only screen and (max-width: 410px) {
    #bottom-nav img{
        height: 25px;
        width: 25px;
        margin: 0 6.45%;
    }
}
@media only screen and (max-width: 400px) {
    #bottom-nav img{
        height: 25px;
        width: 25px;
        margin: 0 6.35%;
    }
}

@media only screen and (max-width: 390px) {
    #bottom-nav img{
        height: 25px;
        width: 25px;
        margin: 0 6.3%;
    }
}
@media only screen and (max-width: 380px) {
    #bottom-nav img{
        height: 25px;
        width: 25px;
        margin: 0 6%;
    }
}
@media only screen and (max-width: 360px) {
    #bottom-nav img{
        height: 25px;
        width: 25px;
        margin: 0 6%;
    }
}
@media only screen and (max-width: 355px) {
    #bottom-nav img{
        height: 25px;
        width: 25px;
        margin: 0 5.85%;
    }
}
@media only screen and (max-width: 340px) {
    #bottom-nav img{
        height: 25px;
        width: 25px;
        margin: 0 5.5%;
    }
}
@media only screen and (max-width: 321px) {
    #bottom-nav img{
        height: 22.5px;
        width: 22.5px;
        margin: 0 5.9%;
    }
}
