* {
    margin: 0;
    padding: 0;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
 .Subhead {
     height: 0px;
     position: absolute;
     top: 50%;
     left: 50%;
 }

.Mainbody {
    height: 400px;
    margin-top: 50px;
    
}
.footer {
    background-color: #eee;
    height: 60px;
    margin-bottom: 20px;
    clear:both;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    padding: 10px;  
    color:  black;
}
.Mainbody p {
    font-family:  'Times New Roman', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 80px;
}
.footer p {
    text-align: center;
    padding: 20px;
}

h3 {
    text-align: center
}
h3 a {
    text-decoration: none;
    color: white;
}

h6 {
    font-weight: bold;
} 