* {
    margin: 0;
    padding: 0;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.header{
     height:500px;
     background-image: url("/images/main_image.jpg"); 
     background-size: cover;
     position: relative;
     opacity: 0.6;
}
/*new design for dropdown menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}
li {
    float: left;
    width: 250px;
    text-align: center;
}
.dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none; 
    position: relative;
    min-width: 250px;
}
.dropdown-content {
    display:none ;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

 .Subhead {
     height: 0px;
     position: absolute;
     top: 50%;
     left: 50%;
 }

.Mainbody {
    height: 400px;
    margin-top: 50px;
    
}
.footer {
    background-color: #eee;
    height: 60px;
    margin-bottom: 20px;
    clear:both;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    padding: 10px;  
    color:  black;
}
.Mainbody p {
    font-family:  'Times New Roman', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 80px;
}
.footer p {
    text-align: center;
    padding: 20px;
}
